= form_for @branch do |f|
  - if @branch.errors.any?
    #error_explanation
      %h2= "#{pluralize(@branch.errors.count, "error")} prohibited this city from being saved:"
      %ul
        - @branch.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, 'Наименование филиала', :class => 'control-label'
    .controls
      = f.text_field :name, :placeholder => 'Наименование филиала'
  .control-group
    = f.label :city_id, 'Город', :class => 'control-label'
    .controls
      = f.collection_select :city_id, City.all, :id, :name, {:prompt => 'Выберите город'}
  .control-group
    = f.label :employee_id, 'Руководитель', :class => 'control-label'
    .controls
      = f.collection_select :employee_id, Employee.all, :id, :initials, {:prompt => 'Выберите руководителя'}
  %hr.separator
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-icon btn-primary'
