%p#notice= notice

%p
  %b Status:
  %span{ :class => "label label-#{@eventlog.status == 0 ? 'success' : 'important'}" }
    = @eventlog.status == 0 ? 'Успешно' : 'Ошибка'
%p
  %b Action:
  = @eventlog.action
%p
  %b Model:
  = @eventlog.model
%p
  %b Message:
  = @eventlog.message.html_safe
%p
  %b User:
  = @eventlog.user.username


