.ajax-loading.hide
  %i.icon-spinner.icon-spin.icon-4x
.innerAll
  .title
    .row-fluid
      .span8
        %h3.text-primary= "#{employee.firstname} #{employee.middlename} #{employee.lastname}"
        %span.muted= employee.position_name
      .span4.text-right
        %td.center.actions-bar
          = link_to employee, :class=> 'btn-action glyphicons eye_open btn-default', :title => 'Показать' do
            %i
          = link_to edit_employee_path(employee), :class=> 'btn-action glyphicons pencil btn-success', :title => 'Редактировать' do
            %i
          = link_to employee, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }, :title => 'Удалить', :class=> 'btn-action glyphicons remove_2 btn-danger' do
            %i
  %hr/
  .body
    .row-fluid
      .span4.overflow-hidden
        .center
          %a.thumb.inline-block{href: ""}
            = image_tag employee.avatar.present? ? employee.avatar_url(:large) : 'employees.png', alt: 'Profile'
        .separator.bottom
        %ul.icons-ul
          %li
            %i.icon-envelope.icon-li.icon-fixed-width
            = employee.email || 'не указан'
          %li
            %i.icon-phone.icon-li.icon-fixed-width
            = employee.phone || 'не указан'
          %li
            %i.icon-skype.icon-li.icon-fixed-width
            = employee.skype || 'не указан'
      .span8
        %h5.strong About
        %p= employee.about || "Краткая информация о сотруднике отсутствует."
        .row-fluid
          .span4
            %h5.strong Reports
            %a.btn.btn-primary.btn-small.btn-block{href: ""}
              %i.icon-download-alt.icon-fixed-width
              June
            %a.btn.btn-default.btn-small.btn-block{href: ""}
              %i.icon-download-alt.icon-fixed-width
              May
            %a.btn.btn-default.btn-small.btn-block{href: ""}
              %i.icon-download-alt.icon-fixed-width
              April
            .separator.bottom
          .span7.offset1
            %h5.strong Skills
            .progress.progress-mini.progress-primary.count-outside.add-outside
              .count 100%
              .bar{style: "width: 100%;"}
              .add HTML
            .progress.progress-mini.progress-primary.count-outside.add-outside
              .count 90%
              .bar{style: "width: 90%;"}
              .add CSS
            .progress.progress-mini.progress-primary.count-outside.add-outside
              .count 93%
              .bar{style: "width: 93%;"}
              .add jQuery
            .progress.progress-mini.progress-primary.count-outside.add-outside
              .count 79%
              .bar{style: "width: 79%;"}
              .add PHP
            .progress.progress-mini.count-outside.add-outside
              .count 20%
              .bar{style: "width: 20%;"}
              .add WP
            .separator.bottom
        - group = employee.groups.first
        - if group
          %h5.text-uppercase.strong.text-primary
            %i.icon-group.text-regular.icon-fixed-width
            = group.code
            %span.text-lowercase.strong.padding-none Комманда
            %span.text-lowercase.padding-none="сотрудников: #{group.employees.count}"
          %div
            - group.employees.first(4).each_with_index do |emp, index|
              %ul.team
                %li
                  %span.crt= index
                  %span.strong= "#{emp.firstname} #{emp.lastname}"
                  %span.muted= emp.position_name
