= form_for @employee do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employee.errors.count, "error")} prohibited this city from being saved:"
      %ul
        - @employee.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    .controls
      = f.text_field :firstname, :placeholder => 'Имя'
  .control-group
    .controls
      = f.text_field :middlename, :placeholder => 'Отчество'
  .control-group
    .controls
      = f.text_field :lastname, :placeholder => 'Фамилия'
  .control-group
    .controls
      = f.text_field :snils, :placeholder => 'СНИЛС'
  .control-group
    .controls
      = f.collection_select :position_id, Position.all, :id, :name, {:prompt => 'Выберите должность'}
  .control-group
    .controls
      = f.collection_select :level_id, Level.all, :id, :name, {:prompt => 'Выберите уровень опыта'}
  %hr.separator
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-icon btn-primary'
