- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Справочник "Сотрудники"
.heading-buttons
  %h3
    Сотрудники
    %span Справочник
  .buttons.pull-right
    = link_to new_employee_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый сотрудник
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      .separator.bottom.form-inline.small
        Всего:
        = @employees.count
      %table.table.table-bordered.table-condensed.table-striped.table-primary.table-vertical-center
        %thead
          %tr
            %th.center Имя
            %th.center Отчество
            %th.center Фамилия
            %th.center СНИЛС
            %th.center Опыт
            %th.center Должность
            %th.center Автор
            %th.center Группы
            %th.center Создан
            %th
        %tbody
          - @employees.each do |employee|
            %tr
              %td= employee.firstname
              %td= employee.middlename
              %td= employee.lastname
              %td= employee.snils
              %td= employee.level.name if employee.level_id
              %td= employee.position.name if employee.position
              %td= employee.user.username if employee.user
              %td
                - employee.groups.each do |g|
                  = link_to g.code + ' ', group_path(g)
              %td= employee.created_at.strftime('%d.%m.%Y %H:%M')
              %td.center
                = link_to employee, :class=> 'btn-action glyphicons eye_open btn-default', :title => 'Показать' do
                  %i
                = link_to edit_employee_path(employee), :class=> 'btn-action glyphicons pencil btn-success', :title => 'Редактировать' do
                  %i
                = link_to employee, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }, :title => 'Удалить', :class=> 'btn-action glyphicons remove_2 btn-danger' do
                  %i
