%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Справочник "Сотрудники"
.heading-buttons
  %h3
    Сотрудники
    %span Справочник
  .buttons.pull-right
    = link_to new_employee_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый сотрудник
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-white.widget-employees
    .widget-body.padding-none
      .row-fluid.row-merge
        .span4.listWrapper
          .innerAll
            %form#employees_search.form-inline{autocomplete: "off"}
              .widget-search.separator.bottom
                %button.btn.btn-inverse.pull-right{type: "button"}
                  %i.icon-search
                .overflow-hidden
                  %input{placeholder: "Найти...", type: "text", value: ""}/
              %select{style: "width: 100%;"}
                %optgroup{label: "Филиал"}
                  %option{value: "all"}= "любой"
                  - Branch.all.each do |branch|
                    %option{value: "#{branch.id}"}= branch.name
          = render partial: 'employees', locals: { employees: @employees }
        .span8.detailsWrapper
          - unless @employees.blank?
            = render partial: 'employee', locals: { employee: @employees.first }
