%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li= link_to 'Справочник "Сотрудники"', employees_path
  %li.divider
  %li
    = @employee.firstname
    = @employee.middlename
    = @employee.lastname
%h3.separator.bottom
  = @employee.firstname
  = @employee.middlename
  = @employee.lastname
  %span карточка
.widget.widget-heading-simple.widget-body-gray
  .widget-body
    .menubar.links.primary
      %ul
        %li= link_to 'Редактировать', edit_employee_path(@employee)
    .row-fluid.row-merge
      .span3.center.innerL.innerTB
        .innerR
          %a.thumb
            = image_tag @employee.avatar ? @employee.avatar_url(:large) : 'employees.png', alt: 'Profile'
          .separator.bottom
          = link_to '', class: 'glyphicons standard primary facebook' do
            %i
          = link_to '', class: 'glyphicons standard twitter' do
            %i
          = link_to '', class: 'glyphicons standard skype' do
            %i
          = link_to '', class: 'glyphicons standard vkontakte' do
            %i
          .clearfix.separator.bottom
          %h5 Филиал: #{@employee.branch.name}
          %h5 Группа: #{@employee.groups.first.code unless @employee.groups.empty?}
          %h5 Должность: #{@employee.position.name}
      .span9.containerBg.innerTB
        .innerLR
          .row-fluid.innerB
            .span6
              .widget.widget-heading-simple.widget-body-white.margin-none
                .widget-head
                  %h4.heading.glyphicons.user
                    %i
                    Уровень опыта: #{@employee.level.name unless @employee.level.nil?}
                .widget-body
                  %p
                    - if @employee.about
                      = @employee.about
                    - else
                      Краткая информация о сотруднике отсутствует.
            .span6
              .widget.widget-heading-simple.widget-body-gray
                .widget-head
                  %h4.heading.glyphicons.history
                    %i
                    План на текущий месяц (только для менеджеров)
                .widget-body.list.collapse.in
                  %ul
                    %li
                      %span Новых клиентов
                      %span.count= @employee.plan_new_clients_current
                    %li
                      %span Продленных клиентов
                      %span.count= @employee.plan_cont_clients_current
                    %li
                      %span Поступления по новым клиентам
                      %span.count= @employee.incomes_new_clients_current
                    %li
                      %span Поступления по продленным клиентам
                      %span.count= @employee.incomes_cont_clients_current
          .row-fluid
            .span6
              .widget.widget-heading-simple.widget-body-white.margin-none
                .widget-head
                  %h4.heading.glyphicons.calendar
                    %i
                    Персональная информация
                .widget-body
                  %ul.unstyled.icons.margin-none
                    %li.glyphicons.birthday_cake
                      %i
                      - if @employee.birthdate
                        %span.label= @employee.birthdate.day
                        %span.label= @employee.birthdate.month
                        %span.label= @employee.birthdate.year
                      - else
                        Дата рождения не заполнена
                    %li.glyphicons.globe
                      %i
                      Город:
                      = @employee.branch.city.name
                    %li.glyphicons.certificate
                      %i
                      СНИЛС:
                      = @employee.snils
            .span6
              .widget.widget-heading-simple.widget-body-gray
                .widget-head
                  %h4.heading.glyphicons.history
                    %i
                    Факт за текущий месяц (только для менеджеров)
                .widget-body.list.collapse.in
                  %ul
                    %li
                      %span Процент поступлений
                      %span.count 0
                    %li
                      %span Интегральный коэффициент
                      %span.count 0