= form_for @debt do |f|
  - if @debt.errors.any?
    #error_explanation
      %h2= "#{pluralize(@debt.errors.count, "error")} prohibited this debt from being saved:"
      %ul
        - @debt.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :year, 'Год', :class => 'control-label'
    .controls
      = select :debt, :year, years_list
  .control-group
    = f.label :month, 'Месяц', :class => 'control-label'
    .controls
      = select :debt, :month, months_list
  .control-group
    = f.label :employee_id, 'Куратор', :class => 'control-label'
    .controls
      = f.collection_select :employee_id, Employee.all, :id, :initials, {:prompt => 'Выберите сотрудника'}
  .control-group
    = f.label :client_id, 'Клиент', :class => 'control-label'
    .controls
      = f.collection_select :client_id, Client.all, :id, :name, {:prompt => 'Выберите клиента'}, :class => 'span8'
  .control-group
    = f.label :order, 'Бланк-заказ', :class => 'control-label'
    .controls
      = f.collection_select :order_id, Order.where(:client_id => @debt.client_id), :id, :ordernum, {:prompt => 'Выберите бланк-заказ'}
  .control-group
    = f.label :debtsum, 'Сумма задолженности', :class => 'control-label'
    .controls
      .input-append
        = f.text_field :debtsum
        %span.add-on руб
  .control-group
    = f.label :debttype, 'Тип задолженности', :class => 'control-label'
    .controls
      = select :debt, :debttype, Debt.type_list
  %hr.separator
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-icon btn-primary'
