- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Задолженность
.heading-buttons
  %h3
    Задолженность
  .buttons.pull-right
    = link_to debts_floating_path, :class => 'btn btn-warning btn-icon glyphicons circle_plus' do
      %i
      Расчет текущей
  .buttons.pull-right
    = link_to '#instModal', :class => 'btn btn-primary btn-icon glyphicons circle_plus', :data => {:toggle=>"modal"} do
      %i
      Импорт рассрочки
  .buttons.pull-right
    = link_to '#debtModal', :class => 'btn btn-primary btn-icon glyphicons circle_plus', :data => {:toggle=>"modal"} do
      %i
      Импорт дебета
  .buttons.pull-right
    = link_to new_debt_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новая задолженность
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-head
      .menubar.links.primary
        %ul
          %li Фильтр:
          %li= link_to 'Все', debts_path
          %li.divider
          %li= link_to 'План', debts_path + '?type=plan'
          %li.divider
          %li= link_to 'Рассрочка', debts_path + '?type=inst'
          %li.divider
          %li= link_to 'Дебет', debts_path + '?type=debt'
    .widget-body
      .separator.bottom.form-inline.small
        Всего:
        = @debts.count
      %table.table.table-bordered.table-condensed.table-striped.table-primary.table-vertical-center
        %thead
          %tr
            %th.center Год
            %th.center Месяц
            %th.center Менеджер
            %th.center Клиент
            %th.center Бланк заказа
            %th.center Тип
            %th.center Сумма
            %th
        %tbody
          - @debts.each do |debt|
            - cache debt do
              %tr
                %td.center= debt.year
                %td.center= debt.month
                %td{ style: 'min-width: 150px;' }= debt.employee ? debt.employee.initials : 'пусто'
                %td= debt.client ? debt.client.name : 'пусто'
                %td{ style: 'min-width: 200px;' }= debt.order ? debt.order.ordernum : 'пусто'
                %td= debt.decode_type
                %td{ style: 'min-width: 100px;' }= number_to_currency(debt.debtsum, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
                %td.center.actions-bar
                  = link_to edit_debt_path(debt), :class => 'btn-action glyphicons pencil btn-success', :title => 'Редактировать' do
                    %i
                  = link_to debt, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }, :class => 'btn-action glyphicons remove_2 btn-danger', :title => 'Удалить' do
                    %i
      = paginate @debts
= render 'shared/upload', object: 'debt_inst', dialog_id: 'instModal'
= render 'shared/upload', object: 'debt_debt', dialog_id: 'debtModal'