- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Справочник "Группы продаж"
%h3.separator.bottom
  Группы продаж
  %span Справочник

.widget.widget-heading-simple.widget-body-gray
  .widget-body
    .menubar.links.primary
      %ul
        %li= link_to 'Новая группа', new_group_path
    %table.table.table-bordered.table-condensed.table-striped.table-white
      %thead
        %tr
          %th.center Код
          %th.center Филиал
          %th.center Руководитель
          %th.center Автор
          %th.center Создан
          %th
      %tbody
        - @groups.each do |group|
          %tr
            %td= group.code
            %td= group.branch.name
            %td= group.employee.initials
            %td= group.user.username
            %td= group.created_at.strftime('%d.%m.%Y %H:%M')
            %td
              = link_to group, :class => 'btn btn-primary', :title => 'Показать' do
                %i.icon-search
              = link_to edit_group_path(group), :class => 'btn btn-primary', :title => 'Редактировать' do
                %i.icon-edit
              = link_to group, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }, :class => 'btn btn-danger', :title => 'Удалить' do
                %i.icon-trash
