- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Справочник "Группы продаж"
.heading-buttons
  %h3
    Группы продаж
    %span Справочник
  .buttons.pull-right
    = link_to new_group_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новая группа
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      .separator.bottom.form-inline.small
        Всего:
        = @groups.count
      %table.table.table-bordered.table-condensed.table-striped.table-primary.table-vertical-center
        %thead
          %tr
            %th.center Код
            %th.center Филиал
            %th.center Руководитель
            %th.center Автор
            %th.center Создан
            %th
        %tbody
          - @groups.each do |group|
            %tr
              %td= group.code
              %td= group.branch.name
              %td= group.employee.initials if group.employee
              %td= group.user.username
              %td= group.created_at.strftime('%d.%m.%Y %H:%M')
              %td.center
                = link_to group, :class => 'btn-action glyphicons eye_open btn-default', :title => 'Показать' do
                  %i
                = link_to edit_group_path(group), :class => 'btn-action glyphicons pencil btn-success', :title => 'Редактировать' do
                  %i
                = link_to group, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }, :class => 'btn-action glyphicons remove_2 btn-danger', :title => 'Удалить' do
                  %i
