%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li= link_to 'Справочник "Группы"', groups_path
  %li.divider
  %li= @group.code
%h3.separator.bottom
  = @group.code
  %span карточка
.widget.widget-heading-simple.widget-body-gray
  .widget-body
    .menubar.links.primary
      %ul
        %li= link_to 'Редактировать', edit_group_path(@group)
    %dl
      %dt Группа
      %dd= @group.code
      %dt Руководитель
      %dd= @group.employee.initials if @group.employee
      %dt Филиал
      %dd= @group.branch.name
      %dt Автор
      %dd= @group.user.username
      %dt Дата создания
      %dd= @group.created_at.strftime('%d.%m.%Y %H:%M')
    .separator.bottom.form-inline.small
      Всего:
      = @group_members.count
    %table.table.table-bordered.table-condensed.table-striped.table-primary.table-vertical-center
      %thead
        %tr
          %th.center Имя
          %th.center Отчество
          %th.center Фамилия
          %th.center СНИЛС
          %th.center Должность
          %th.center Опыт
          %th.center Пользователь
          %th
      %tbody
        - @group_members.each do |employee|
          %tr
            %td= employee.firstname
            %td= employee.middlename
            %td= employee.lastname
            %td= employee.snils
            %td= employee.position.name if employee.position
            %td= employee.level.name if employee.level_id
            %td= employee.account.username unless employee.account.nil?
            %td.center.actions-bar
              = link_to employee, :class=> 'btn-action glyphicons eye_open btn-default', :title => 'Показать' do
                %i
              = link_to edit_employee_path(employee), :class=> 'btn-action glyphicons pencil btn-success', :title => 'Редактировать' do
                %i
              = link_to employee, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }, :title => 'Удалить', :class=> 'btn-action glyphicons remove_2 btn-danger' do
                %i
