= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, 'error')} возникло при сохранении:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, 'Адрес эл.почты', :class => 'control-label'
    .controls
      = f.text_field :email, :placeholder => 'Адрес эл.почты'
  .control-group
    = f.label :role_id, 'Роль', :class => 'control-label'
    .controls
      = collection_select(:user, :role_ids, Role.all, :id, :name, :prompt => true)
  %hr.separator
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-icon btn-primary'
