- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Справочник "Пользователи"
%h3.separator.bottom
  Пользователи
  %span Справочник

.widget.widget-heading-simple.widget-body-gray
  .widget-body
    .menubar.links.primary
      %ul
        %li= link_to 'Отправить приглашение', '#'
    %table.table.table-bordered.table-condensed.table-striped.table-white
      %thead
        %tr
          %th.center Имя пользователя
          %th.center Эл.почта
          %th.center Зарегистрирован
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= user.username
            %td= user.email
            %td= user.created_at.strftime('%d.%m.%Y %H:%M')
            %td
              = link_to '#', :class => 'btn btn-mini btn-primary', :title => 'Показать' do
                %i.icon-search
              = link_to '#', :class => 'btn btn-mini btn-primary', :title => 'Редактировать' do
                %i.icon-edit
              = link_to '#', :class => 'btn btn-mini btn-danger', :title => 'Заблокировать' do
                %i.icon-ban-circle
