- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li= link_to 'Справочник "Пользователи"',  users_path
  %li.divider
  %li= @user.username
%h3.separator.bottom
  = @user.username
  %span карточка
.widget.widget-heading-simple.widget-body-gray
  .widget-body
    .menubar.links.primary
      %ul
        %li= link_to 'Редактировать', edit_user_path(@user)
    %dl
      %dt Имя пользователя
      %dd= @user.username
      %dt Эл.почта
      %dd= @user.email
      %dt Дата регистрации
      %dd= @user.created_at.strftime('%d.%m.%Y %H:%M')
