.widget.widget-heading-simple.widget-body-gray
  .widget-head
    %h3.heading Поменяйте свой пароль
  .widget-body
    = form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put } do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token

      = f.label false, 'Пароль', :class => 'strong'
      = f.password_field :password, :autofocus => true, :class => 'input-block-level', :placeholder => 'Ваш пароль'

      = f.label false, 'Пароль еще раз', :class => 'strong'
      = f.password_field :password_confirmation, :class => 'input-block-level', :placeholder => 'Пароль еще раз'

      .separator.bottom
        .row-fluid
          .span12.center
            = f.submit 'Поменять пароль', :class => 'btn btn-block btn-inverse'

= render 'devise/shared/links'
