- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Справочник "Клиенты"
.heading-buttons
  %h3
    Клиенты
    %span Справочник
  .buttons.pull-right
    = link_to new_client_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый клиент
    = link_to '#', :class => 'btn btn-primary btn-icon glyphicons file_import' do
      %i
      Импорт
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      .separator.bottom.form-inline.small
        Всего:
        = @clients.count
      %table.table.table-bordered.table-condensed.table-striped.table-primary.table-vertical-center
        %thead
          %tr
            %th.center Наименование
            %th.center ИНН
            %th.center Код
            %th.center Город
            %th.center Пользователь
            %th.center Создан
            %th
        %tbody
          - @clients.each do |client|
            %tr
              %td= client.name
              %td= client.inn
              %td= client.code
              %td= client.city.name if client.city
              %td= client.user.username if client.user
              %td= client.created_at.strftime('%d.%m.%Y %H:%M')
              %td.center
                = link_to client, :class => 'btn-action glyphicons eye_open btn-default', :title => 'Показать' do
                  %i.icon-search
                = link_to edit_client_path(client), :class => 'btn-action glyphicons pencil btn-success', :title => 'Редактировать' do
                  %i.icon-edit
                = link_to client, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }, :class => 'btn-action glyphicons remove_2 btn-danger', :title => 'Удалить' do
                  %i
