%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, class: 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li= link_to 'Справочник "Клиенты"', clients_path
  %li.divider
  %li Новый клиент
%h3.separator.bottom
  Новый клиент
  %span добавить
.widget.widget-heading-simple.widget-body-gray
  .widget-body
    = form_for @client do |f|
      = render 'form', {f: f}
      .form-actions
        = f.submit 'Сохранить', class: 'btn btn-icon btn-primary'
