%p#notice= notice

%p
  %b Branch:
  = @factor.branch
%p
  %b Month:
  = @factor.month
%p
  %b Year:
  = @factor.year
%p
  %b Prepay:
  = @factor.prepay
%p
  %b Avaragebill:
  = @factor.avaragebill
%p
  %b Clients:
  = @factor.clients
%p
  %b Weight:
  = @factor.weight
%p
  %b Incomes:
  = @factor.incomes
%p
  %b Prolongcent:
  = @factor.prolongcent
%p
  %b Proplancor:
  = @factor.proplancor
%p
  %b Planproc04from:
  = @factor.planproc04from
%p
  %b Planproc04to:
  = @factor.planproc04to
%p
  %b Planproc06from:
  = @factor.planproc06from
%p
  %b Planproc06to:
  = @factor.planproc06to
%p
  %b Planproc08from:
  = @factor.planproc08from
%p
  %b Planproc08to:
  = @factor.planproc08to
%p
  %b Planproc10from:
  = @factor.planproc10from
%p
  %b Planproc10to:
  = @factor.planproc10to
%p
  %b Planproc12from:
  = @factor.planproc12from
%p
  %b Planproc12to:
  = @factor.planproc12to

= link_to 'Edit', edit_factor_path(@factor)
\|
= link_to 'Back', factors_path
