%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, class: 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Фактические поступления
.heading-buttons
  %h3
    Поступления
  .buttons.pull-right
    = link_to '#incomesImport', class: 'btn btn-primary btn-icon glyphicons file_import', data: { toggle: 'modal' } do
      %i
      Импорт
    = link_to new_income_path, class: 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новое поступление
  .clearfix
.separator.bottom
.innerLR
  = render partial: 'filter'
  .widget.widget-heading-simple.widget-body-gray.incomes-list
    = render partial: 'incomes', locals: { incomes: @incomes }
= render 'shared/upload', object: 'income', dialog_id: 'incomesImport'
