.filter-bar
  %form
    %div
      %label БЗ
      = select_tag 'continue', '<option value="all">Все</option><option value="current">Текущие</option><option value="continue">К продлению</option>'.html_safe
    %div
      %label Филиал
      = select_tag 'order_branch', options_from_collection_for_select(Branch.order(:name), :id, :name, selected: current_user.account_employee.branch.id)
    %div
      %label Куратор
      = select_tag 'order_employee', options_from_collection_for_select(Employee.where(branch: current_user.account_employee.branch).order(:lastname), :id, :initials)
    %div
      %label №
      = text_field :order, :ordernum
    %div
      = submit_tag 'Применить'
    .clearfix
