%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, class: 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li= link_to 'Бланки заказов', orders_path
  %li.divider
  %li Редактирование
%h3.separator.bottom
  = @order.ordernum
  от
  = @order.orderdate
  %span редактировать
.widget.widget-heading-simple.widget-body-gray
  .widget-body
    = form_for @order, html: {class: 'form-horizontal'} do |f|
      = render 'form', {f: f}
      .form-actions
        = f.submit 'Сохранить', class: 'btn btn-icon btn-primary'
