- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Бланки заказов
.heading-buttons
  %h3
    Бланки заказов
  .buttons.pull-right
    = link_to new_order_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый бланк заказа
    = link_to '#currOrders', :class => 'btn btn-primary btn-icon glyphicons file_import', :data => {:toggle=>"modal"} do
      %i
      Импорт текущих
    = link_to '#contOrders', :class => 'btn btn-primary btn-icon glyphicons file_import', :data => {:toggle=>"modal"} do
      %i
      Импорт продленных
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-head
      .menubar.links.primary
        %ul
          %li Фильтр:
          %li= link_to 'Все', orders_path
          %li.divider
          %li= link_to 'Текущие', orders_path + '?type=current'
          %li.divider
          %li= link_to 'К продлению', orders_path + '?type=continue'
    .widget-body
      .separator.bottom.form-inline.small
        Всего:
        = @orders.count
      %table.table.table-bordered.table-condensed.table-striped.table-primary.table-vertical-center
        %thead
          %tr
            %th.center №
            %th.cemter Город
            %th.center Куратор
            %th.center Клиент
            %th.center Начало
            %th.center Окончание
            %th.center Сумма
            %th.center Груз
            %th.center Статус
            %th.center Продление
            %th
        %tbody
          - @orders.each do |order|
            %tr
              %td.center= order.ordernum
              %td= order.city.name if order.city
              %td= order.employee.initials if order.employee
              %td= order.client.name if order.client
              %td.center= order.startdate.strftime('%d.%m.%Y')
              %td.center= order.finishdate.strftime('%d.%m.%Y')
              %td= number_to_currency(order.ordersum, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
              %td= number_to_currency(order.weight, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
              %td= order.status_desc
              %td.center= order.continue_desc
              %td.center.actions-bar
                = link_to order, :class => 'btn-action glyphicons eye_open btn-default', :title => 'Показать' do
                  %i
                = link_to edit_order_path(order), :class => 'btn-action glyphicons pencil btn-success', :title => 'Редактировать' do
                  %i
                = link_to order, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }, :class => 'btn-action glyphicons remove_2 btn-danger', :title => 'Удалить' do
                  %i
      = paginate @orders
= render 'shared/upload', object: 'order_curr', dialog_id: 'currOrders'
= render 'shared/upload', object: 'order_cont', dialog_id: 'contOrders'