%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, class: 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Бланки заказов
.heading-buttons
  %h3
    Бланки заказов
  .buttons.pull-right
    = link_to new_order_path, class: 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый бланк заказа
    = link_to '#currOrders', class: 'btn btn-primary btn-icon glyphicons file_import', data: {:toggle=>"modal"} do
      %i
      Импорт текущих
    = link_to '#contOrders', class: 'btn btn-primary btn-icon glyphicons file_import', data: {:toggle=>"modal"} do
      %i
      Импорт продленных
    = link_to '', class: 'btn btn-primary btn-icon glyphicons set_continue', 'data-url' => set_continue_orders_path  do
      %i
      Пролонгировать
  .clearfix
.separator.bottom
.innerLR
  .filter-bar
    %form
      %div
        %label БЗ
        = select_tag 'continue', '<option value="all">Все</option><option value="current">Текущие</option><option value="continue">К продлению</option>'.html_safe
      %div
        %label Филиал
        = select_tag 'order_branch', options_from_collection_for_select(Branch.order(:name), :id, :name, selected: current_user.account_employee.branch.id)
      %div
        %label Куратор
        = select_tag 'order_employee', options_from_collection_for_select(Employee.where(branch: current_user.account_employee.branch).order(:lastname), :id, :initials)
      %div
        %label №
        = text_field :order, :ordernum
      %div
        = button_tag 'Применить'
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      .separator.bottom.form-inline.small
        Всего:
        = @orders.count
        Отмечено:
        %span#selected_count 0
      %table.table.table-bordered.table-condensed.table-striped.table-primary.table-vertical-center.checkboxs
        %thead
          %tr
            %th.uniformjs{ style: 'width: 1%;' }
              %input{ type: 'checkbox' }
            %th.center №
            %th.cemter Город
            %th.center Куратор
            %th.center Клиент
            %th.center Начало
            %th.center Окончание
            %th.center{style: 'min-width: 90px;'} Сумма
            %th.center{style: 'min-width: 90px;'} Груз
            %th.center Статус
            %th.center Продление
            %th.center Старый&nbsp;БЗ
            %th.actions-bar
        %tbody
          - @orders.each do |order|
            %tr.selectable
              %td.center.uniformjs
                - if order.finishdate.month == Date.today.month
                  %input{ type: 'checkbox', id: "#{order.id}", 'checked' => order.continue == 1 }
              %td.center= order.ordernum
              %td= order.city.name if order.city
              %td= order.employee.initials if order.employee
              %td= order.client.name if order.client
              %td.center= order.startdate.strftime('%d.%m.%Y')
              %td.center= order.finishdate.strftime('%d.%m.%Y')
              %td= number_to_currency(order.ordersum, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
              %td= number_to_currency(order.weight, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
              %td= order.status_desc
              %td.center= order.continue_desc
              %td= Order.find(order.order_id).ordernum if order.order_id
              %td.center
                = link_to order, class: 'btn-action glyphicons eye_open btn-default', title: 'Показать' do
                  %i
                = link_to edit_order_path(order), class: 'btn-action glyphicons pencil btn-success', title: 'Редактировать' do
                  %i
                = link_to order, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить?' }, class: 'btn-action glyphicons remove_2 btn-danger', title: 'Удалить' do
                  %i
      = paginate @orders
= render 'shared/upload', object: 'order_curr', dialog_id: 'currOrders'
= render 'shared/upload', object: 'order_cont', dialog_id: 'contOrders'
