%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, class: 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Бланки заказов
.heading-buttons
  %h3
    Бланки заказов
  .buttons.pull-right
    = link_to new_order_path, class: 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый бланк заказа
    = link_to '#currOrders', class: 'btn btn-primary btn-icon glyphicons file_import', data: {:toggle=>"modal"} do
      %i
      Импорт текущих
    = link_to '#contOrders', class: 'btn btn-primary btn-icon glyphicons file_import', data: {:toggle=>"modal"} do
      %i
      Импорт продленных
    = link_to '', class: 'btn btn-primary btn-icon glyphicons set_continue', 'data-url' => set_continue_orders_path  do
      %i
      Пролонгировать
  .clearfix
.separator.bottom
.innerLR
  = render 'filters'
  .widget.widget-heading-simple.widget-body-gray.orders-list
    = render partial: 'orders', locals: { orders: @orders }
= render 'shared/upload', object: 'order_curr', dialog_id: 'currOrders'
= render 'shared/upload', object: 'order_cont', dialog_id: 'contOrders'
