%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Новая продажа
.heading-buttons
  %h3
    Новая продажа
.separator.bottom
.innerLR
  .widget-tabs-double.widget-tabs-vertical.row-fluid.row-merge
    .widget-head.span3
      %ul
        %li
          = link_to '#step-1', :class => 'glyphicons user' do
            %i
            %span.strong Шаг 1
            %span Информация о клиенте
        %li.active
          = link_to '#step-2', :class => 'glyphicons calculator' do
            %i
            %span.strong Шаг 2
            %span Бланк-заказ
        %li
          = link_to '#step-4', :class => 'glyphicons circle_ok' do
            %i
            %span.strong Шаг 3
            %span Подтверждение
    .widget-body.span9
      .tab-content
        #step-2.tab-pane.active
          = form_for @order, url: wizard_path, method: :put do |f|
            = render 'orders/form', {f: f}
            .form-actions
              = f.submit 'Перейти к шагу 3', class: 'btn btn-icon btn-primary'
  .form-actions
    = submit_tag 'Внести данные', :class => 'btn btn-icon btn-primary'
