- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Главная
  %li.pull-right.hidden-phone
    = link_to 'http://freshintel.ru', :class => 'glyphicons shield' do
      Справка
      %i
  %li.pull-right.hidden-phone.divider
%h2
  Портал 2GIS
  %span Статистика & Аналитика
.innerLR
  .row-fluid
    .span12
      = render 'portal/widget'
  .row-fluid
    .span6
      .widget.widget-body-white
        .widget-head
          %h4.heading.glyphicons.cardio
            %i
            Прирост клиентов
        .widget-body
          #chart-grow-clients{ style: 'height: 253px;', 'data-plan' => "#{@total_clients_plan}", 'data-fact' => "#{@total_clients_fact}" }
    .span6
      .widget.widget-body-white
        .widget-head
          %h4.heading.glyphicons.cardio
            %i
            Изменение груза в выпуск
        .widget-body
          #chart-change-wight{ style: 'height: 253px;', 'data-plan' => "#{@total_weight_plan}", 'data-fact' => "#{@total_weight_fact}" }
  .row-fluid
    .span6
      .widget.widget-body-white
        .widget-head
          %h4.heading.glyphicons.cardio
            %i
            Поступление денежных средств
        .widget-body
          #chart-incomes{ style: 'height: 253px;', 'data-plan' => "#{@total_incomes_plan}", 'data-fact' => "#{@total_incomes_fact}" }
    .span6
      .widget.widget-body-white
        .widget-head
          %h4.heading.glyphicons.cardio
            %i
            Изменение Интегрального Коэффициента (ИК)
        .widget-body
          #chart-change-ic{ style: 'height: 253px;', 'data-plan' => "#{@total_ik_plan}", 'data-fact' => "#{@total_ik_fact}" }
= javascript_include_tag 'portal'