= form_for @averagebill do |f|
  - if @averagebill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@averagebill.errors.count, "error")} prohibited this city from being saved:"
      %ul
        - @averagebill.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :branch_id, 'Филиал', :class => 'control-label'
    .controls
      = f.collection_select :branch_id, Branch.all, :id, :name, {:prompt => 'Выберите филиал'}
  .control-group
    = f.label :year, 'Год', :class => 'control-label'
    .controls
      = f.number_field :year
  .control-group
    = f.label :month, 'Месяц', :class => 'control-label'
    .controls
      = f.number_field :month
  .control-group
    = f.label :bill, 'Счет', :class => 'control-label'
    .controls
      = f.number_field :bill
  %hr.separator
  .form-actions
    = f.submit 'Сохранить', :class => 'btn btn-icon btn-primary'

