%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li= link_to 'Справочник "Средний счет"', averagebills_path
  %li.divider
  %li Редактирование
%h3.separator.bottom
  на
  = @averagebill.year
  &frasl;
  = @averagebill.month
  для
  = @averagebill.branch.name
  %span редактировать
.widget.widget-heading-simple.widget-body-gray
  .widget-body
    = render 'form'
