%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Справочник "Города"
.heading-buttons
  %h3
    Города
    %span Справочник
  .buttons.pull-right
    = link_to new_city_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый город
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      .separator.bottom.form-inline.small
        Всего:
        = @cities.count
      %table.table.table-bordered.table-condensed.table-striped.table-primary.table-vertical-center
        %thead
          %tr
            %th.center Наименование
            %th
        %tbody
          - @cities.each do |city|
            %tr
              %td= city.name
              %td.center.actions-bar
                = link_to edit_city_path(city), :class => 'btn-action glyphicons pencil btn-success', :title => 'Редактировать' do
                  %i
                = link_to city, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }, :class => 'btn-action glyphicons remove_2 btn-danger', :title => 'Удалить' do
                  %i
