- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li= link_to 'Справочник "Города"', cities_path
  %li.divider
  %li= @city.name
%h3.separator.bottom
  = @city.name
  %span карточка
.widget.widget-heading-simple.widget-body-gray
  .widget-body
    .menubar.links.primary
      %ul
        %li= link_to 'Редактировать', edit_city_path(@city)
    %dl
      %dt Наименование
      %dd= @city.name
      %dt Автор
      %dd= @city.user.username
      %dt Дата создания
      %dd= @city.created_at.strftime('%d.%m.%Y %H:%M')
