- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li= link_to 'Планы по новым клиентам', plans_path
  %li.divider
  %li Редактирование
%h3.separator.bottom
  = @plan.employee.initials
  %span редактировать
.widget.widget-heading-simple.widget-body-gray
  .widget-body
    = render 'form'
