- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li Планы по новым клиентам
.heading-buttons
  %h3
    Планы по новым клиентам
  .buttons.pull-right
    = link_to new_plan_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый план
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      .separator.bottom.form-inline.small
        Всего:
        = @plans.count
      %table.table.table-bordered.table-condensed.table-striped.table-primary.table-vertical-center
        %thead
          %tr
            %th.center Сотрудник
            %th.center Год
            %th.center Месяц
            %th.center Клиентов
            %th.center Груз
            %th.center Сумма
            %th
        %tbody
          - @plans.each do |plan|
            %tr
              %td= plan.employee.initials if plan.employee
              %td= plan.year
              %td= plan.month
              %td= plan.clients
              %td= number_to_currency(get_plan_weight(plan), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
              %td= number_to_currency((get_plan_weight(plan) * 2.5), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
              %td.center.actions-bar
                = link_to plan, :class => 'btn-action glyphicons eye_open btn-default', :title => 'Показать' do
                  %i
                = link_to edit_plan_path(plan), :class => 'btn-action glyphicons pencil btn-success', :title => 'Редактировать' do
                  %i
                = link_to plan, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите удалить?' }, :class => 'btn-action glyphicons remove_2 btn-danger', :title => 'Удалить' do
                  %i
