.wizard
  .widget.widget-tabs.widget-tabs-double
    .widget-head
      %ul
        %li.active
          %a.glyphicons.user{"data-toggle" => "tab", href: "#tab1-2"}
            %i
            %span.strong Загрузить
            %span всех клиентов
        %li
          %a.glyphicons.calculator{"data-toggle" => "tab", href: "#tab2-2"}
            %i
            %span.strong Загрузить
            %span текущих клиентов
        %li
          %a.glyphicons.credit_card{"data-toggle" => "tab", href: "#tab3-2"}
            %i
            %span.strong Загрузить
            %span продления
        %li
          %a.glyphicons.circle_ok{"data-toggle" => "tab", href: "#tab4-2"}
            %i
            %span.strong Загрузить
            %span задолженности
        %li
          %a.glyphicons.circle_ok{"data-toggle" => "tab", href: "#tab5-2"}
            %i
            %span.strong Добавить
            %span планы по новым клиентам
    .widget-body
      .tab-content
        / Step 1
        #tab1-2.tab-pane.active
          = render partial: 'clients'
        / Step 2
        #tab2-2.tab-pane
          = render partial: 'current_orders'
        / Step 3
        #tab3-2.tab-pane
          = render partial: 'continue_orders'
        / Step 4
        #tab4-2.tab-pane
          = render partial: 'debts'
        #tab5-2.tab-pane
          = render partial: 'plans'
