%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li План продаж
.heading-buttons
  %h3
    План продаж:
    = @branch.name if @branch
  .buttons.pull-right
    = link_to new_order_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый заказ
  .buttons.pull-right
    = link_to new_income_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новое поступление
  .buttons.pull-right
    = link_to '', :class => 'btn btn-primary btn-icon glyphicons refresh' do
      %i
      Обновить
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      = render 'filters'
      %table.table.table-bordered.table-condensed.table-striped.table-vertical-center.table-pricing.table-pricing-2
        %thead
          %tr
            %th.center Куратор
            %th.center{ :colspan => 2 } Клиенты
            %th.center{ :colspan => 2 } Груз
            %th.center{ :colspan => 2 } Поступления
            %th.center % продлений
            %th.center ИК
          %tr
            %th.center
            %th.center План
            %th.center Факт
            %th.center План
            %th.center Факт
            %th.center План
            %th.center Факт
            %th.center
            %th.center
        %tbody
          - if @branch && params[:report_date] && @planfact
            - date = Date.strptime(params[:report_date], '%m.%Y' )
            - @branch.groups.each do |group|
              - group.employees.all.each do |employee|
                %tr
                  %td= employee.initials  # Куратор
                  %td.center= link_to employee.planfacts.find_by(report_date: date).clients_plan,
                    '', 'data-original-title' => "из них новых #{employee.plan_new_clients(date)}, продлений #{employee.plan_cont_clients(date)} ", rel: 'tooltip', data: { placement: :top } # Клиенты план
                  %td.center= link_to employee.planfacts.find_by(report_date: date).clients_fact,
                    '', 'data-original-title' => "из них новых #{employee.fact_new_clients(date)}, продлений #{employee.fact_cont_clients(date)} ", rel: 'tooltip', data: { placement: :top } # Клиенты факт
                  %td= link_to number_to_currency((employee.planfacts.find_by(report_date: date).weight_plan), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                    '', 'data-original-title' => "по новым #{employee.weight_new_clients(date)}, по продлениям #{employee.weight_cont_clients(date)}", rel: 'tooltip', data: { placement: :top } # Груз план
                  %td= link_to number_to_currency((employee.planfacts.find_by(report_date: date).weight_fact), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                    '', 'data-original-title' => "по новым #{employee.fact_weight_new_clients(date)}, по продлениям #{employee.fact_weight_cont_clients(date)}", rel: 'tooltip', data: { placement: :top } # Груз факт
                  %td= link_to number_to_currency((employee.planfacts.find_by(report_date: date).income_plan), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                    '', 'data-original-title' => "от новых #{employee.incomes_new_clients(date)}, от продлений #{employee.incomes_cont_clients(date)}, рассрочки #{employee.installments(date)}, дебет #{employee.debts(date)} ", rel: 'tooltip', data: { placement: :top } # Поступления план
                  %td= link_to number_to_currency((employee.planfacts.find_by(report_date: date).income_fact), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                    '', 'data-original-title' => "от новых #{employee.fact_incomes_new_clients(date)}, от продлений #{employee.fact_incomes_cont_clients(date)}", rel: 'tooltip', data: { placement: :top } # Поступления факт
                  %td.center= link_to employee.planfacts.find_by(report_date: date).pro_percent,
                    '', 'data-original-title' => "плановый #{employee.plan_percent(date)}, фактический #{employee.fact_percent(date)}", rel: 'tooltip', data: { placement: :top } # % продления
                  %td= '%.3f' % employee.planfacts.find_by(report_date: date).employee_ic # ИК
              %tr
                %td.group-row
                  %strong
                    Группа:
                    = group.employee.initials unless group.employee.nil?
                  %td.center.group-row
                    %strong= link_to group.planfacts.find_by(report_date: date).clients_plan,
                      '', 'data-original-title' => "из них новых #{group.plan_new_clients(date)}, продлений #{group.plan_cont_clients(date)} ", rel: 'tooltip', data: { placement: :top }
                  %td.center.group-row
                    %strong= link_to group.planfacts.find_by(report_date: date).clients_fact,
                      '', 'data-original-title' => "из них новых #{group.fact_new_clients(date)}, продлений #{group.fact_cont_clients(date)} ", rel: 'tooltip', data: { placement: :top }
                  %td.group-row
                    %strong= link_to number_to_currency(group.planfacts.find_by(report_date: date).weight_plan, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                      '', 'data-original-title' => "по новым #{group.weight_new_clients(date)}, по продлениям #{group.weight_cont_clients(date)}", rel: 'tooltip', data: { placement: :top }
                  %td.group-row
                    %strong= link_to number_to_currency(group.planfacts.find_by(report_date: date).weight_fact, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                      '', 'data-original-title' => "по новым #{group.fact_weight_new_clients(date)}, по продлениям #{group.fact_weight_cont_clients(date)}", rel: 'tooltip', data: { placement: :top } # Груз факт
                  %td.group-row
                    %strong= link_to number_to_currency(group.planfacts.find_by(report_date: date).income_plan, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                      '', 'data-original-title' => "от новых #{group.incomes_new_clients(date)}, от продлений #{group.incomes_cont_clients(date)}, рассрочки #{group.installments(date)}, дебет #{group.debts(date)}", rel: 'tooltip', data: { placement: :top } # Поступления план
                  %td.group-row
                    %strong= link_to number_to_currency(group.planfacts.find_by(report_date: date).income_fact, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                      '', 'data-original-title' => "от новых #{group.fact_incomes_new_clients(date)}, от продлений #{group.fact_incomes_cont_clients(date)}", rel: 'tooltip', data: { placement: :top } # Поступления план
                  %td.center.group-row
                    %strong= link_to group.planfacts.find_by(report_date: date).pro_percent,
                      '', 'data-original-title' => "плановый #{group.plan_percent(date)}, фактический #{group.fact_percent(date)}", rel: 'tooltip', data: { placement: :top } # % продления
                  %td.group-row
                    %strong= '%.3f' % group.planfacts.find_by(report_date: date).group_ic
            %tr
              %td
                %h4{ :style => 'color: #6F8745;'} Итого по филиалу
              %td.center{ :style => 'color: #6F8745;'}
                %strong= link_to @branch.planfacts.find_by(report_date: date).clients_plan,
                  '', 'data-original-title' => "из них новых #{@branch.plan_new_clients(date)}, продлений #{@branch.plan_cont_clients(date)} ", rel: 'tooltip', data: { placement: :top }
              %td.center{ :style => 'color: #6F8745;'}
                %strong= link_to @branch.planfacts.find_by(report_date: date).clients_fact,
                  '', 'data-original-title' => "из них новых #{@branch.fact_new_clients(date)}, продлений #{@branch.fact_cont_clients(date)} ", rel: 'tooltip', data: { placement: :top }
              %td{ :style => 'color: #6F8745;'}
                %strong= link_to number_to_currency(@branch.planfacts.find_by(report_date: date).weight_plan, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                  '', 'data-original-title' => "по новым #{@branch.weight_new_clients(date)}, по продлениям #{@branch.weight_cont_clients(date)}", rel: 'tooltip', data: { placement: :top }
              %td{ :style => 'color: #6F8745;'}
                %strong= link_to number_to_currency(@branch.planfacts.find_by(report_date: date).weight_fact, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                  '', 'data-original-title' => "по новым #{@branch.fact_weight_new_clients(date)}, по продлениям #{@branch.fact_weight_cont_clients(date)}", rel: 'tooltip', data: { placement: :top } # Груз факт
              %td{ :style => 'color: #6F8745;'}
                %strong= link_to number_to_currency(@branch.planfacts.find_by(report_date: date).income_plan, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                  '', 'data-original-title' => "от новых #{@branch.incomes_new_clients(date)}, от продлений #{@branch.incomes_cont_clients(date)}, рассрочки #{@branch.installments(date)}, дебет #{@branch.debts(date)}", rel: 'tooltip', data: { placement: :top } # Поступления план

              %td{ :style => 'color: #6F8745;'}
                %strong= link_to number_to_currency(@branch.planfacts.find_by(report_date: date).income_fact, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u'),
                  '', 'data-original-title' => "от новых #{@branch.fact_incomes_new_clients(date)}, от продлений #{@branch.fact_incomes_cont_clients(date)}", rel: 'tooltip', data: { placement: :top } # Поступления факт
              %td.center{ :style => 'color: #6F8745;'}
                %strong= link_to @branch.planfacts.find_by(report_date: date).pro_percent.round,
                  '', 'data-original-title' => "плановый #{@branch.cont_percent(date)}, фактический #{@branch.fact_percent(date)}", rel: 'tooltip', data: { placement: :top } # % продления
              %td{ :style => 'color: #6F8745;'}
                %strong= '%.3f' % @branch.planfacts.find_by(report_date: date).branch_ic
