- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li План продаж
.heading-buttons
  %h3
    План продаж
  .buttons.pull-right
    = link_to '#', :class => 'btn btn-primary btn-icon glyphicons refresh' do
      %i
      Обновить
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      .separator.bottom.form-inline.small
        Всего:
        = 0
      %table.table.table-bordered.table-condensed.table-striped.table-vertical-center.table-pricing.table-pricing-2
        %thead
          %tr
            %th.center Куратор
            %th.center{ :colspan => 2 } Клиенты
            %th.center{ :colspan => 2 } Груз
            %th.center{ :colspan => 2 } Поступления
            %th.center % продлений
            %th.center ИК
          %tr
            %th.center
            %th.center План
            %th.center Факт
            %th.center План
            %th.center Факт
            %th.center План
            %th.center Факт
            %th.center
            %th.center
        %tbody
          - @report_data.each do |row|
            %tr
              %td= row.initials # Куратор
              %td.center= row.get_new_plan_clients + row.get_cont_plan_clients # Клиенты план
              %td.center= row.get_new_fact_clients # Клиенты факт
              %td= number_to_currency((row.get_new_plan_weight + row.get_cont_plan_weight), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u') # Груз план
              %td= number_to_currency(row.get_new_fact_weight, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u') # Груз факт
              %td= number_to_currency((((row.get_new_plan_weight + row.get_cont_plan_weight) * 2.5) + row.get_installment_sum + row.get_debt_sum), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u') # Поступления план
              %td= number_to_currency(row.get_fact_incomes, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u') # Поступления факт
              %td.center= row.get_prolong_percents # % продления
              %td= row.get_ic # ИК
