%ul.breadcrumb
  %li Вы сейчас здесь
  %li
    = link_to root_path, :class => 'glyphicons dashboard' do
      %i
      Главная
  %li.divider
  %li План продаж
.heading-buttons
  %h3
    План продаж:
    = @branch.name if @branch
  .buttons.pull-right
    = link_to new_order_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый заказ
  .buttons.pull-right
    = link_to new_income_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новое поступление
  .buttons.pull-right
    = link_to '', :class => 'btn btn-primary btn-icon glyphicons refresh' do
      %i
      Обновить
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      .filter-bar
        = form_tag (reports_recalc_planfact_path), id: 'planfact_params' do
          - if current_user.is_admin?
            %div
              %label Филиалы
              = select_tag :id, options_from_collection_for_select(Branch.all.order('name ASC'), "id", "name", params[:id].to_i), prompt: 'Выберите филиал'
          #planfact_date.input-append.date
            = text_field_tag :report_date, (params[:report_date] || Date.today.strftime("%d.%m.%Y")), placeholder:'Введите дату', required: 'required'
            %span.add-on
              %i.icon-th
          .clearfix
      %table.table.table-bordered.table-condensed.table-striped.table-vertical-center.table-pricing.table-pricing-2
        %thead
          %tr
            %th.center Куратор
            %th.center{ :colspan => 2 } Клиенты
            %th.center{ :colspan => 2 } Груз
            %th.center{ :colspan => 2 } Поступления
            %th.center % продлений
            %th.center ИК
          %tr
            %th.center
            %th.center План
            %th.center Факт
            %th.center План
            %th.center Факт
            %th.center План
            %th.center Факт
            %th.center
            %th.center
        %tbody
          - if @branch
            - @branch.groups.each do |group|
              - group.employees.all.each do |employee|
                %tr
                  %td= employee.initials # Куратор
                  %td.center= employee.planfacts.find_by(report_date: params[:report_date]).clients_plan # Клиенты план
                  %td.center= employee.planfacts.find_by(report_date: params[:report_date]).clients_fact # Клиенты факт
                  %td= number_to_currency((employee.planfacts.find_by(report_date: params[:report_date]).weight_plan), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u') # Груз план
                  %td= number_to_currency((employee.planfacts.find_by(report_date: params[:report_date]).weight_fact), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u') # Груз факт
                  %td= number_to_currency((employee.planfacts.find_by(report_date: params[:report_date]).income_plan), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u') # Поступления план
                  %td= number_to_currency((employee.planfacts.find_by(report_date: params[:report_date]).income_fact), unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u') # Поступления факт
                  %td.center= employee.planfacts.find_by(report_date: params[:report_date]).pro_percent # % продления
                  %td= '%.3f' % employee.planfacts.find_by(report_date: params[:report_date]).employee_ic # ИК
              %tr
                %td.group-row
                  %strong
                    Группа:
                    = group.employee.initials unless group.employee.nil?
                  %td.center.group-row
                    %strong= group.planfacts.find_by(report_date: params[:report_date]).clients_plan
                  %td.center.group-row
                    %strong= group.planfacts.find_by(report_date: params[:report_date]).clients_fact
                  %td.group-row
                    %strong= number_to_currency(group.planfacts.find_by(report_date: params[:report_date]).weight_plan, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
                  %td.group-row
                    %strong= number_to_currency(group.planfacts.find_by(report_date: params[:report_date]).weight_fact, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
                  %td.group-row
                    %strong= number_to_currency(group.planfacts.find_by(report_date: params[:report_date]).income_plan, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
                  %td.group-row
                    %strong= number_to_currency(group.planfacts.find_by(report_date: params[:report_date]).income_fact, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
                  %td.center.group-row
                    %strong= group.planfacts.find_by(report_date: params[:report_date]).pro_percent
                  %td.group-row
                    %strong= '%.3f' % group.planfacts.find_by(report_date: params[:report_date]).group_ic
            %tr
              %td
                %h4{ :style => 'color: #6F8745;'} Итого по филиалу
              %td.center{ :style => 'color: #6F8745;'}
                %strong= @branch.planfacts.find_by(report_date: params[:report_date]).clients_plan
              %td.center{ :style => 'color: #6F8745;'}
                %strong= @branch.planfacts.find_by(report_date: params[:report_date]).clients_fact
              %td{ :style => 'color: #6F8745;'}
                %strong= number_to_currency(@branch.planfacts.find_by(report_date: params[:report_date]).weight_plan, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
              %td{ :style => 'color: #6F8745;'}
                %strong= number_to_currency(@branch.planfacts.find_by(report_date: params[:report_date]).weight_fact, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
              %td{ :style => 'color: #6F8745;'}
                %strong= number_to_currency(@branch.planfacts.find_by(report_date: params[:report_date]).income_plan, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
              %td{ :style => 'color: #6F8745;'}
                %strong= number_to_currency(@branch.planfacts.find_by(report_date: params[:report_date]).income_fact, unit: 'руб.', separator: ',', delimiter: ' ', format: '%n %u')
              %td.center{ :style => 'color: #6F8745;'}
                %strong= @branch.planfacts.find_by(report_date: params[:report_date]).pro_percent.round
              %td{ :style => 'color: #6F8745;'}
                %strong= '%.3f' % @branch.planfacts.find_by(report_date: params[:report_date]).branch_ic
