#menu.hidden-phone.hidden-print
  = link_to root_path, :class => 'appbrand' do
    = image_tag '2gis_logo_64x30.png', :alt => 'Портал 2GIS'
  .slim-scroll{ 'data-scroll-height' => '800px' }
    %span.profile.center
      = link_to edit_user_registration_path, :title => current_user.username do
        - if current_user.account_employee && current_user.account_employee.avatar
          = image_tag current_user.account_employee.avatar_url('avatar'), 'data-src' => current_user.account_employee.avatar_url('avatar'), :alt => current_user.account_employee.initials
        - else
          = images_tag 'employees.png', 'data-src' => 'employees.png', alt: 'неисзвестный сотрудник'
    %ul
      %li
        = link_to root_path, :class => 'glyphicons dashboard' do
          %i
          Главная
      - if current_user.role.name == 'admin'
        %li.dropdown.dd-1
          = link_to '', 'data-toggle' => 'dropdown', :class => 'glyphicons settings' do
            %i
            Управление
            %span.icon-chevron-right
          %ul.dropdown-menu.pull-left
            %li{ :class => current_page?(members_path) ? 'active' : nil }
              = link_to 'Пользователи', members_path
            %li{ :class => current_page?(roles_path) ? 'active' : nil }
              = link_to roles_path, :class => 'glyphicons group' do
                %i
                Роли
      %li.dropdown.dd-1
        = link_to '', 'data-toggle' => 'dropdown', :class => 'glyphicons book_open' do
          %i
          Справочники
          %span.icon-chevron-right
        %ul.dropdown-menu.pull-left
          %li{ :class => current_page?(branches_path) ? 'active' : nil }
            = link_to 'Филиалы', branches_path
          %li{ :class => current_page?(groups_path) ? 'active' : nil }
            = link_to 'Группы', groups_path
          %li{ :class => current_page?(cities_path) ? 'active' : nil }
            = link_to 'Города', cities_path
          %li{ :class => current_page?(clients_path) ? 'active' : nil }
            = link_to 'Клиенты', clients_path
          %li{ :class => current_page?(employees_path) ? 'active' : nil }
            = link_to 'Сотрудники', employees_path
          %li{ :class => current_page?(positions_path) ? 'active' : nil }
            = link_to 'Должности', positions_path
          %li{ :class => current_page?(levels_path) ? 'active' : nil }
            = link_to 'Уровни опыта', levels_path
          %li{ :class => current_page?(averagebills_path) ? 'active' : nil }
            = link_to 'Средний чек', averagebills_path
          %li{ :class => current_page?(plancents_path) ? 'active' : nil }
            = link_to 'Плановый процент', plancents_path
      %li{ :class => current_page?('#') ? 'active' : nil }
        = link_to '#', :class => 'glyphicons magic' do
          %i
          Мастер импорта
      %li.dropdown.dd-1
        = link_to '', 'data-toggle' => 'dropdown', :class => 'glyphicons gbp' do
          %i
          Финансы
          %span.icon-chevron-right
        %ul.dropdown-menu.pull-left
          %li{ :class => current_page?(plans_path) ? 'active' : nil }
            = link_to plans_path, :class => 'glyphicons calendar' do
              %i
              Планы
          %li{ :class => current_page?(debts_path) ? 'active' : nil }
            = link_to debts_path, :class => 'glyphicons wallet' do
              %i
              Задолженность
          %li{ :class => current_page?(incomes_path) ? 'active' : nil }
            = link_to incomes_path, :class => 'glyphicons coins' do
              %i
              Поступления
          %li{ :class => current_page?(orders_path) ? 'active' : nil }
            = link_to orders_path, :class => 'glyphicons notes_2' do
              %i
              Заказы
          %li{ :class => current_page?(uploads_path) ? 'active' : nil }
            = link_to uploads_path, :class => 'glyphicons cloud-upload' do
              %i
              Загрузка
          %li{ :class => current_page?(eventlogs_path) ? 'active' : nil }
            = link_to eventlogs_path, :class => 'glyphicons bug' do
              %i
              Журнал событий
      %li{ :class => current_page?(new_deal_path) ? 'active' : nil }
        = link_to new_deal_path, :class => 'glyphicons calculator' do
          %i
          Новая продажа
      %li{ :class => current_page?(reports_planfact_path) ? 'active' : nil }
        = link_to reports_planfact_path, :class => 'glyphicons stats' do
          %i
          План-Факт
    .clearfix