#menu.hidden-phone.hidden-print
  = link_to root_path, :class => 'appbrand' do
    = image_tag 'logo.png', :alt => 'Портал 2GIS'
  .slim-scroll{ 'data-scroll-height' => '800px' }
    %span.profile.center
      = link_to false, :title => current_user.username do
        = image_tag avatar_url(current_user), 'data-src' => avatar_url(current_user), :alt => current_user.username
    %ul
      %li
        = link_to root_path, :class => 'glyphicons dashboard' do
          %i
          Главная
      %li.dropdown.dd-1
        = link_to '', 'data-toggle' => 'dropdown', :class => 'glyphicons parents' do
          %i
          Настройки
          %span.icon-chevron-right
        %ul.dropdown-menu.pull-left
          %li{ :class => current_page?(edit_user_registration_path) ? 'active' : nil }
            = link_to 'Аккаунт', edit_user_registration_path
          %li
            = link_to 'Профиль', '#'
          %li
            = link_to 'Выход', destroy_user_session_path
      %li.dropdown.dd-1
        = link_to '', 'data-toggle' => 'dropdown', :class => 'glyphicons settings' do
          %i
          Управление
          %span.icon-chevron-right
        %ul.dropdown-menu.pull-left
          %li{ :class => current_page?(users_path) ? 'active' : nil }
            = link_to 'Пользователи', users_path
          %li{ :class => current_page?(roles_path) ? 'active' : nil }
            = link_to roles_path, :class => 'glyphicons group' do
              %i
              Роли
      %li.dropdown.dd-1
        = link_to '', 'data-toggle' => 'dropdown', :class => 'glyphicons book_open' do
          %i
          Справочники
          %span.icon-chevron-right
        %ul.dropdown-menu.pull-left
          %li{ :class => current_page?(branches_path) ? 'active' : nil }
            = link_to 'Филиалы', branches_path
          %li{ :class => current_page?(groups_path) ? 'active' : nil }
            = link_to 'Группы', groups_path
          %li{ :class => current_page?(cities_path) ? 'active' : nil }
            = link_to 'Города', cities_path
          %li{ :class => current_page?(clients_path) ? 'active' : nil }
            = link_to 'Клиенты', clients_path
          %li{ :class => current_page?(employees_path) ? 'active' : nil }
            = link_to 'Сотрудники', employees_path
          %li{ :class => current_page?(positions_path) ? 'active' : nil }
            = link_to 'Должности', positions_path
          %li{ :class => current_page?(levels_path) ? 'active' : nil }
            = link_to 'Уровни опыта', levels_path
      %li{ :class => current_page?(plans_path) ? 'active' : nil }
        = link_to plans_path, :class => 'glyphicons stats' do
          %i
          Планы
      %li{ :class => current_page?(debts_path) ? 'active' : nil }
        = link_to debts_path, :class => 'glyphicons wallet' do
          %i
          Задолженность
      %li{ :class => current_page?(orders_path) ? 'active' : nil }
        = link_to orders_path, :class => 'glyphicons notes_2' do
          %i
          Заказы
      %li{ :class => current_page?(uploads_path) ? 'active' : nil }
        = link_to uploads_path, :class => 'glyphicons cloud-upload' do
          %i
          Загрузка
    .clearfix