.navbar.main
  %button.btn.btn-navbar.pull-left{ 'type' => 'button' }
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %ul.topnav.pull-left
    %li
      = link_to root_path, :class => 'glyphicons unlock' do
        %i
        = current_user.role.name
    %li
      = link_to root_path, :class => 'glyphicons message_empty' do
        %i
        Сообщения
        %span.badge.badge-success 0
    %li
      = link_to edit_user_registration_path, :class => 'glyphicons parents' do
        %i
        Аккаунт
    %li
      = link_to '#', :class => 'glyphicons user' do
        %i
        Профиль
    %li
      = link_to destroy_user_session_path, :method => :delete, :class => 'glyphicons power' do
        %i
        Выйти
  .clearfix