!!!
/[if lt IE 7] <html class='ie lt-ie9 lt-ie8 lt-ie7 fluid top-quick sidebar sidebar-full sticky-sidebar'>
/[if IE 7] <html class='ie lt-ie9 lt-ie8 fluid top-quick sticky-top sidebar sidebar-full sticky-sidebar'>
/[if IE 8] <html class='ie lt-ie9 fluid top-quick sticky-top sidebar sidebar-full sticky-sidebar'>
/[if gt IE 8] <html class='ie gt-ie8 fluid top-quick sticky-top sidebar sidebar-full sticky-sidebar'>
/ [if !IE]><!
%html.fluid.top-quick.sticky-top.sidebar.sidebar-full.sticky-sidebar
  / <![endif]
  %head
    %title Портал 2GIS
    / Meta
    %meta{:charset => 'UTF-8'}
    %meta{:content => 'width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0', :name => 'viewport'}
    %meta{:content => 'yes', :name => 'apple-mobile-web-app-capable'}
    %meta{:content => 'black', :name => 'apple-mobile-web-app-status-bar-style'}
    %meta{:content => 'IE=9; IE=8; IE=7; IE=EDGE', 'http-equiv' => 'X-UA-Compatible'}
    = favicon_link_tag '/favicon.ico', :type => 'image/x-icon'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid.fluid.menu-left
      #wrapper
        #menu.hidden-phone.hidden-print
          = link_to root_path, :class => 'appbrand' do
            = image_tag 'logo.png', :alt => 'Портал 2GIS'
          .slim-scroll{ 'data-scroll-height' => '800px' }
            %span.profile.center
              = link_to edit_user_registration_path do
                = image_tag avatar_url(current_user), 'data-src' => avatar_url(current_user), :alt => current_user.username
            %ul
              %li
                = link_to root_path, :class => 'glyphicons dashboard' do
                  %i
                  Главная
              %li.dropdown.dd-1
                = link_to '', 'data-toggle' => 'dropdown', :class => 'glyphicons settings' do
                  %i
                  Справочники
                  %span.icon-chevron-right
                %ul.dropdown-menu.pull-left
                  %li= link_to 'Филиалы', '#'
                  %li= link_to 'Группы', '#'
                  %li= link_to 'Города', '#'
                  %li= link_to 'Кленты', '#'
                  %li= link_to 'Сотрудники', '#'
                  %li= link_to 'Должности', '#'
                  %li= link_to 'Уровни опыта', '#'
              %li.glyphs
                %ul
                  %li
                    = link_to '#', :class => 'glyphicons heart' do
                      %i
                  %li
                    = link_to '#', :class => 'glyphicons heart' do
                      %i
                  %li
                    = link_to '#', :class => 'glyphicons heart' do
                      %i
                  %li.active
                    = link_to destroy_user_session_path, :class => 'glyphicons power', :title => 'Выйти' do
                      %i
            .clearfix
        #content
          .navbar.main
            %button.btn.btn-navbar.pull-left{ 'type' => 'button' }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %ul.topnav.pull-left
              %li
                = link_to root_path, :class => 'glyphicons dashboard' do
                  %i
                  Панель управления
              %li
                = link_to destroy_user_session_path, :method => :delete, :class => 'glyphicons power' do
                  %i
                  Выйти
            .clearfix
          = yield
      .clearfix
      #footer.hidden-print
        .copy
          &copy; 1999 - 2013 -
          = link_to 'ООО ДубльГИС', 'http://2gis.ru'
          |
          Разработка
          &copy; 2012 - &infin; -
          = link_to 'FRESH INTEL LTD', 'http://freshintel.ru'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script
      Holder.add_theme("dark", {background:"#000", foreground:"#aaa", size:9});
      Holder.add_theme("white", {background:"#fff", foreground:"#c9c9c9", size:9});