!!!
/[if lt IE 7] <html class='ie lt-ie9 lt-ie8 lt-ie7 fluid top-quick sidebar sidebar-full sticky-sidebar'>
/[if IE 7] <html class='ie lt-ie9 lt-ie8 fluid top-quick sticky-top sidebar sidebar-full sticky-sidebar'>
/[if IE 8] <html class='ie lt-ie9 fluid top-quick sticky-top sidebar sidebar-full sticky-sidebar'>
/[if gt IE 8] <html class='ie gt-ie8 fluid top-quick sticky-top sidebar sidebar-full sticky-sidebar'>
/ [if !IE]><!
%html.fluid.top-quick.sticky-top.sidebar.sidebar-full.sticky-sidebar
  / <![endif]
  %head
    %title Портал 2GIS
    / Meta
    %meta{:charset => 'UTF-8'}
    %meta{:content => 'width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0', :name => 'viewport'}
    %meta{:content => 'yes', :name => 'apple-mobile-web-app-capable'}
    %meta{:content => 'black', :name => 'apple-mobile-web-app-status-bar-style'}
    %meta{:content => 'IE=9; IE=8; IE=7; IE=EDGE', 'http-equiv' => 'X-UA-Compatible'}
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container-fluid.fluid.menu-left
      #wrapper
        = render 'layouts/sidebar'
        #content
          = render 'layouts/topmenu'
          = yield
      .clearfix
      #footer.hidden-print
        .copy
          &copy; 1999 - 2013 -
          = link_to 'ООО ДубльГИС', 'http://2gis.ru'
          |
          Разработка
          &copy; 2012 - &infin; -
          = link_to 'FRESH INTEL LTD', 'http://freshintel.ru'

