- flash.each do |name, msg|
  %div{ :class => "alert alert-#{name}" }
    %button.close{'data-dismiss' => 'alert', :type => 'button'} &times;
    = msg
%ul.breadcrumb
  %li Вы в городе
  %li
    = link_to root_path, :class => 'glyphicons globe' do
      %i
      Рязань
  %li.divider
  %li Профиль
  %li.pull-right.hidden-phone
    = link_to support_path, :class => 'glyphicons shield' do
      Справка
      %i
  %li.pull-right.hidden-phone.divider
%h3
  Профиль:
  = @member.username
.innerLR
  .widget.widget-tabs.border-bottom-none
    .widget-head
      %ul
        %li.active
          = link_to '#account-details', :class => 'glyphicons edit', 'data-toggle' => 'tab' do
            %i
            Информация
        %li
          = link_to '#account-settings', :class => 'glyphicons settings', 'data-toggle' => 'tab' do
            %i
            Настройки
    .widget-body
      = form_for @member, :html => { :class => 'form-horizontal', :autocomplete => 'off' } do |f|
        - if @member.errors.any?
          #error_explanation
            %h2= "#{pluralize(@member.errors.count, 'error')} возникло при сохранении:"
            %ul
              - @member.errors.full_messages.each do |msg|
                %li= msg
        .tab-content
          #account-details.tab-pane.active
            .row-fluid
              .span6
                .control-group
                  %label.control-label Имя
                  .controls
                    = f.text_field :firstname, :class => 'span10', :placeholder => 'например, Иван'
                .control-group
                  %label.control-label Фамилия
                  .controls
                    = f.text_field :lastname, :class => 'span10', :placeholder => 'например, Львов'
                .control-group
                  %label.control-label Дата рождения
                  .controls
                    #dtp_birthdate.input-append.date
                      = f.text_field :birthdate
                      %span.add-on
                        %i.icon-th
              .span6
                .control-group
                  %label.control-label Ваш пол
                  .controls
                    = select :gender, :status, Tools.gender_list, :class => 'span12'
                .control-group
                  %label.control-label Возраст
                  .controls
                    = text_field_tag 'age', nil, disabled: true
                .control-group
                  = f.label :role_id, 'Роль', :class => 'control-label'
                  .controls
                    = collection_select(:user, :role_ids, Role.all, :id, :name, :prompt => 'Выберите роль')
            .separator.line.bottom
            .control-group.row-fluid
              %label.control-label Обо мне
              .controls
                = f.text_area :about, :rows => '3', :class => 'span12'
            .form-actions{ style: 'margin: 0;' }
              = f.submit 'Cохранить', :class => 'btn btn-primary'
          #account-settings.tab-pane
            .row-fluid
              .span3
                %strong Смена пароля
                %p.muted Имя пользователя остается неизменным. Оставьте пустыми все поля паролей, если не хотите менять.
              .span9
                .row-fluid
                  .span6
                    = f.label :username, 'Имя пользователя'
                    .input-prepend
                      %span.add-on.glyphicons.user
                        %i
                      = f.text_field :username, :class => 'input-large', 'disabled' => 'disabled'
                    .separator.bottom
                    = f.label :current_password, 'Текущий пароль'
                    .input-prepend
                      %span.add-on.glyphicons.lock
                        %i
                      = f.password_field :current_password, :class => 'input-large', :placeholder => 'пустой, если не хотите менять'
                    .separator.bottom
                  .span6
                    = f.label :password, 'Новый пароль'
                    .input-prepend
                      %span.add-on.glyphicons.lock
                        %i
                      = f.password_field :password, :class => 'input-large', :placeholder => 'пустой, если не хотите менять'
                    .separator.bottom
                    = f.label :password_confirmation, 'Подтверждение'
                    .input-prepend
                      %span.add-on.glyphicons.lock
                        %i
                      = f.password_field :password_confirmation, :class => 'input-large', :placeholder => 'пустой, если не хотите менять'
                    .separator.bottom
            .separator.line.bottom
            .row-fluid
              .span3
                %strong Контактная информация
                %p.muted Заполните контакты, по которым с Вами можно связаться.
              .span9
                .row-fluid
                  .span6
                    = f.label :phone, 'Телефон'
                    .input-prepend
                      %span.add-on.glyphicons.phone
                        %i
                      = f.text_field :phone, :class => 'input-large', placeholder: '(123) 456-7890'
                    .separator.bottom
                    = f.label :email, 'Электронная почта'
                    .input-prepend
                      %span.add-on.glyphicons.envelope
                        %i
                      = f.text_field :email, :class => 'input-large', :placeholder => 'например, contact@2gis.ru'
                    .separator.bottom
                    = f.label :site, 'Веб сайт'
                    .input-prepend
                      %span.add-on.glyphicons.link
                        %i
                      = f.text_field :site, :class => 'input-large', :placeholder => 'например, http://www.2gis.ru'
                    .separator.bottom
                  .span6
                    = f.label :facebook, 'Facebook'
                    .input-prepend
                      %span.add-on.glyphicons.facebook
                        %i
                      = f.text_field :facebook, :class => 'input-large', :placeholder => 'например, 2gis'
                    .separator.bottom
                    = f.label :twitter, 'Twitter'
                    .input-prepend
                      %span.add-on.glyphicons.twitter
                        %i
                      = f.text_field :twitter, :class => 'input-large', :placeholder => 'например, 2gis'
                    .separator.bottom
                    = f.label :skype, 'Skype ID'
                    .input-prepend
                      %span.add-on.glyphicons.skype
                        %i
                      = f.text_field :skype, :class => 'input-large', :placeholder => 'например, 2gis'
                    .separator.bottom
            .form-actions{style: 'margin: 0;'}
              = f.submit 'Cохранить', :class => 'btn btn-primary'
