.crumbs= render_crumbs format: :html_list
.heading-buttons
  %h3
    Пользователи
    %span Справочник
  .buttons.pull-right
    = link_to new_member_path, :class => 'btn btn-primary btn-icon glyphicons circle_plus' do
      %i
      Новый пользователь
  .clearfix
.separator.bottom
.innerLR
  .widget.widget-heading-simple.widget-body-gray
    .widget-body
      .separator.bottom.form-inline.small
        Всего:
        = @members.count
      %table.table.table-bordered.table-condensed.table-striped.table-primary.table-vertical-center
        %thead
          %tr
            %th.center Имя пользователя
            %th.center Эл.почта
            %th.center Роль
            %th.center Зарегистрирован
            %th
        %tbody
          - @members.each do |member|
            %tr
              %td= member.username
              %td= member.email
              %td= member.roles.first.name if !member.roles.empty?
              %td= member.created_at.strftime('%d.%m.%Y %H:%M')
              %td.center.actions-bar
                = link_to member_path(member), :class => 'btn-action glyphicons eye_open btn-default', :title => 'Показать' do
                  %i
                = link_to edit_member_path(member), :class => 'btn-action glyphicons pencil btn-success', :title => 'Редактировать' do
                  %i
                = link_to '#', :class => 'btn-action glyphicons remove_2 btn-danger', :title => 'Заблокировать' do
                  %i
