.crumbs= render_crumbs format: :html_list
%h3.separator.bottom
  = @member.username
  %span карточка
.widget.widget-heading-simple.widget-body-gray
  .widget-body
    .menubar.links.primary
      %ul
        %li= link_to 'Редактировать', edit_member_path(@member)
    %dl
      %dt Имя пользователя
      %dd= @member.username
      %dt Эл.почта
      %dd= @member.email
      %dt Дата регистрации
      %dd= @member.created_at.strftime('%d.%m.%Y %H:%M')
